#content {
    display: flex;
    height: 150px;
    border-radius: 50px;
    background-color: rgb(252, 248, 203);
    gap: 20px;
    width: 50%;
    align-items: center;
}


#select {
    display: flex;
    justify-content: space-between;
   align-items: center;
   flex-basis: 30%;
   background-color: rgb(226, 188, 17);
   border-radius: 50px;
   height: 80%;
   padding-left: 5%;
   padding-right: 5%;
}

.imgBackground {
    width: 60px;
    height: 60px;
    background-image: url('img/logo.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.divBtn {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    background-color: rgb(226, 188, 17);
    border-radius: 25px;
    border: none;
    padding: 1.1em;
    
}
